<div id="logControls">
    <input type="text" id="searchBox" placeholder="Search logs...">
    <div id="agentFilter"></div>
    <div id="logContainer"></div>
    <script src="/js/logs.js"></script>
</div>