<div id="viewer-container">

    <button id="resetCameraButton">Reset View</button>
    <div id="chunkControls">
        <h3>Active Chunks</h3>
        <div id="chunkList"></div>
    </div>


    <canvas id="worldCanvas"></canvas>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/three@0.77.0"></script>
    <script src="https://unpkg.com/three@0.77.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://unpkg.com/deepslate@0.23.6"></script>
    <script src="https://unpkg.com/jszip@3.10.1/dist/jszip.min.js"></script>
    <script src="https://unpkg.com/gl-matrix@3.3.0/gl-matrix-min.js"></script>
    <script src="/js/renderManager.js"></script>
    <script src="/js/world.js"></script>
</div>